%h2 Jukebox

- unless @songs.empty?
  - @songs.each do |song|
    %div{ id: song.title.parameterize }
      = song.title
      = song.votes
      = link_to 'Vote', votes_path(song_id: song.id), method: :post
- else
  %p No songs in Jukebox, ask someone to add some.
